.layout {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'sidebar header'
    'sidebar main'
    'sidebar footer';
  min-height: 100vh;
}
.header {
  grid-area: header;
}
.main-content {
  grid-area: main;
  display: flex;
}
.content {
  flex-grow: 1;
}
.footer {
  grid-area: footer;
}
.sidebar {
  grid-area: sidebar;
}
